*~
*.o
*.a
*.beam
\#*
.\#*
build
rel/streaming_appliance
deps/
.DS_Store
ebin/id3as_common.app
priv/libid3as_common.so
include/ID3AS.hrl
.test
priv/mibs
.edts
.erlang.mk.packages.v1
dialyzer.plt
erl.mk
ebin
_build
.rebar3
vlevel-ladspa.so
